<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo Application</title>
  </head>
  <body>
    <h1>Todo Application</h1>
    <form action="/create-todo/" method="post">
      {% csrf_token %}
      <input type="text" name="text" id="todo" />
      <button type="submit">Add</button>
    </form>
    <ul>
      {% for todo in todos %}
      <li>
        {{todo.body}}
        <a href="/delete/{{todo.id}}">Delete</a>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
